<div class="row" ng-controller="change_ctr">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header main-box">Update Password</h5>
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                        <label for="password" class="col-form-label">Old Password</label>
                        <input id="opassword" type="password" class="form-control" value="" name="opassword" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="npassword" class="col-form-label">New Password</label>
                        <input id="npassword" type="password" class="form-control" value="" name="password" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="cpassword" class="col-form-label">Confirm Password</label>
                        <input id="cpassword" type="password" class="form-control" value="" name="cpassword" autocomplete="off" required>
                    </div>
                    <div class="text-center">
                        <input type="submit" class="submit-btn" name="info-btn" value="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 